{% extends '::base.html.twig' %}

{% block body %}

    <h2>Choose a datalist</h2>

    <ul>
        <li><a href="{{ path('snowcap_datalistdemo_players') }}">Player Datalist (Doctrine ORM)</a></li>
        <li><a href="{{ path('snowcap_datalistdemo_highscores') }}">High score datalist (plain PHP array)</a></li>
    </ul>

{% endblock %}